<!-- HTML -->
<div id="buybar" class=""> 
  <div class="left between">
    <div class="size"> 
      <ul class="select"> 
        <li>s </li>
        <li class="out">m </li>
        <li>l</li>
      </ul>
      <div class="guide">Size guide</div>
    </div>
    <div class="price"> 
      <div class="amount lrg">290 EUR </div>
      <div class="vat">Incl. VAT</div>
    </div>
  </div>
  <div class="right">
    <div class="add display"><span>Add to Cart</span></div>
    <div class="help"><span>Help</span><i class="fa-solid fa-comment-question"></i></div>
  </div>
</div>



<!-- CSS -->
{%- style -%}
#buybar, #buybar.left, #buybar .right {
  height: 79px !important;
}

#buybar {
  @media screen and (max-width: 750px) {
    height: 159px !important;
  }
}

#buybar.passed {
  bottom: -80px;

  @media screen and (max-width: 750px) {
    bottom: -160px;
  }
}

#buybar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  transition: bottom .4s;
}

#buybar .left, #buybar .right {
  width: 50%;

  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

#buybar .left {
  padding: 0 10px !important;
}
{%- endstyle -%}



<!-- JS -->
<script>
    // Element exists
    $.fn.alive = function() {
        return this.length>0;
    }

    // Element is the window
    $.fn.isWindow = function() {
        let
            t = Object.prototype.toString.call(this[0]),
            a = ['[object DOMWindow]','[object Window]','[object global]'];

        return _.indexOf(a,t)>-1 ? true : false;
    }

    // Element is in view
    $.fn.inView = function() {
        let
            t = $(this),
            w = $(window),

            elt = t.offset().top,
            elb = elt + t.outerHeight(),
            vpt = w.scrollTop(),
            vpb = vpt + w.height();

        return elb > vpt && elt < vpb;
    }
  


    // Scroll logic
    const pscroll = $('.product-recommendations');
    console.log('.product-recommendations', pscroll, pscroll.alive(), $(window));

    $(window).on('scroll', function(e) {

        console.log('SCROLL', $('.product-recommendations'));

        /*
        pscroll.each((k,v) => {
            v = $(v);




            let
                perc = percScrollCalc(v),
                frame = v.data('scroll').render({percent: perc});

            perc = perc==1;
            perc ? buybar.addClass('passed') : buybar.removeClass('passed');
      

        });      
        */
    });
    $(window).trigger('scroll');

</script>