{% comment %}
  USAGE
  {% render '_product-grid', id: section.id, products: collection.products, count: collection.products_count %}{% endcomment %}

{%- if products and count>0 and id -%}
  <ul id="product-grid" data-id="{{ id }}" class="grid negative-margin product-grid">

    {%- for product in products -%}
      <li class="grid__item col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {% render '_product-card', product_card_product: product %}
      </li>
    {%- endfor -%}

  </ul>
{%- endif -%}

<style>
  .grid__item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
</style>>