<a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
  <div class="cartbutton">
    <i class="fa-solid fa-bag-shopping"></i> 
    <span>Checkout</span>

    {%- if cart.item_count < 100 -%}
      <span class="bubble" aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
  </div>

  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
</a>