
<div id="buybar"> 
  <div class="left between">
    <div class="size"> 
      <ul class="select"> 
        <li>s </li>
        <li class="out">m </li>
        <li>l</li>
      </ul>
      <div class="guide">Size guide</div>
    </div>
    <div class="price"> 
      <div class="amount lrg">290 EUR </div>
      <div class="vat">Incl. VAT</div>
    </div>
  </div>
  <div class="right">
    <div class="add display"><span>Add to Cart</span></div>
    <div class="help"><span>Help</span><i class="fa-solid fa-comment-question"></i></div>
  </div>
</div>
<main class="top">  
  <div class="left" data-type="product-scroll" data-dir="bin/img/product/scroll" data-last="62">
    <div class="wrap">
      <div class="media">
        <canvas></canvas>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="nfo">
      <div class="prod section">
        <h1>Mackenzie Mid Blue Wash</h1>
        <div class="cat">Bomber Jacket</div>
      </div>
      <div class="descr section lrg">Lorem Ipsum is simply dummy text of the printing and typesetting in- dustry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
      <div class="detail section"> 
        <div class="title">Details</div>
        <ul>
          <li>Composition: 100% Italian cotton french terry fabric</li>
          <li>Care: machine wash delicate cycle at 30°</li>
          <li>Made in Bulgaria</li>
        </ul>
        <div class="title">Sizing</div>
        <ul>
          <li>Model is 174cm and is wearing a size S/36</li>
          <li>Designed for a slightly loose fit</li>
          <li>European sizing (click on “size guide” for detailed measurements)</li>
        </ul>
      </div>
      <div class="row top">
        <div class="btns x8">
          <div class="checkout btn"><i class="fa-solid fa-star"></i><span>Wish this</span></div><br>
          <div class="checkout btn"><i class="fa-solid fa-truck"></i><span>Delivery & Returns</span></div>
        </div>
        <div class="paywith x4">
          <div class="title">Pay with:</div><i class="fa-brands pay fa-cc-mastercard"> </i><i class="fa-brands pay fa-paypal"></i>
        </div>
      </div>
    </div>
    <div class="photos">
      <figure class="pip" style="background-image: url(bin/img/product/pic1.jpg)"> <img src="bin/img/product/pic1.jpg"></figure>
      <figure class="pip" style="background-image: url(bin/img/product/pic2.jpg)"> <img src="bin/img/product/pic2.jpg"></figure>
    </div>
  </div>
</main>
<div class="overview x12">
  <div class="header display x12"><span>Wear it with</span></div>
  <div class="grid x12">
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic1-2.jpg)"> <img src="bin/img/overview/pic1-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic2-2.jpg)"> <img src="bin/img/overview/pic2-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic3-2.jpg)"> <img src="bin/img/overview/pic3-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic1-2.jpg)"> <img src="bin/img/overview/pic1-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic2-2.jpg)"> <img src="bin/img/overview/pic2-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic3-2.jpg)"> <img src="bin/img/overview/pic3-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic1-2.jpg)"> <img src="bin/img/overview/pic1-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic2-2.jpg)"> <img src="bin/img/overview/pic2-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic3-2.jpg)"> <img src="bin/img/overview/pic3-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic1-2.jpg)"> <img src="bin/img/overview/pic1-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic2-2.jpg)"> <img src="bin/img/overview/pic2-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic3-2.jpg)"> <img src="bin/img/overview/pic3-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic1-2.jpg)"> <img src="bin/img/overview/pic1-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic2-2.jpg)"> <img src="bin/img/overview/pic2-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic3-2.jpg)"> <img src="bin/img/overview/pic3-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic1-2.jpg)"> <img src="bin/img/overview/pic1-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic2-2.jpg)"> <img src="bin/img/overview/pic2-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
    <div class="product x12 s6 m4 l3 xl2">
      <figure class="side" style="background-image: url(bin/img/overview/pic3-2.jpg)"> <img src="bin/img/overview/pic3-1.jpg"></figure>
      <div class="nfo between">
        <div class="title">VINSE light blue </div>
        <div class="price">290,00 EUR</div>
      </div>
    </div>
  </div>
</div>
<footer class="top">
  <div class="x12 logowrap"> 
    <div class="logo">Facon Jacmin</div>
  </div>
  <div class="x12 m4 col"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</span></div>
  <div class="x12 s4 m2 col"> <span><b>
        <u>Information</u></b></span><span>Terms & Conditions</span><span>Shipping & Returns </span><span>Gift Card</span></div>
  <div class="x8 m4 col"><span><b>
        <u>Subscribe</u></b></span><span>Subscribe to our newsletter text</span></div>
  <div class="x4 m2 col social x-end s-start m-end"><i class="fa-brands fa-facebook-f"></i><i class="fa-brands fa-tiktok"></i><i class="fa-brands fa-instagram"></i></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="script.js"></script>
